**1. Importing the dependencies**

## 이탈률 높은 고객 10% 고르기? ==> 이건 주로 어떻게 하는지 보기

In [372]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pickle

from sklearn.model_selection import GridSearchCV


import pandas as pd
import numpy as np
import pickle

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline as ImbPipeline  # SMOTE용 Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score

**2. Data Loading and Understanding**

In [373]:
# load teh csv data to a pandas dataframe
df = pd.read_csv("customer_info.csv")

In [374]:
df.shape

(7043, 21)

In [375]:
""" 
고객 특성 → gender, SeniorCitizen, Partner(고객이 배우자(파트너)가 있는지 여부), Dependents(부양가족(아이, 부모 등)이 있는지 여부)
서비스 사용 여부 → PhoneService(고객이 전화 서비스를 이용하는지 여부), MultipleLines, InternetService, OnlineSecurity, DeviceProtection, TechSupport, StreamingTV, StreamingMovies
계약/결제 관련 → Contract(계약 형태), PaperlessBilling(종이 청구서 대신 전자 청구서를 사용하는지 여부), PaymentMethod
금액 관련 → MonthlyCharges, TotalCharges, tenure(고객이 해당 회사와 계약을 유지한 개월 수)
타겟 변수 → Churn : Yes = 서비스를 해지한 고객, No = 유지 중인 고객
"""

' \n고객 특성 → gender, SeniorCitizen, Partner(고객이 배우자(파트너)가 있는지 여부), Dependents(부양가족(아이, 부모 등)이 있는지 여부)\n서비스 사용 여부 → PhoneService(고객이 전화 서비스를 이용하는지 여부), MultipleLines, InternetService, OnlineSecurity, DeviceProtection, TechSupport, StreamingTV, StreamingMovies\n계약/결제 관련 → Contract(계약 형태), PaperlessBilling(종이 청구서 대신 전자 청구서를 사용하는지 여부), PaymentMethod\n금액 관련 → MonthlyCharges, TotalCharges, tenure(고객이 해당 회사와 계약을 유지한 개월 수)\n타겟 변수 → Churn : Yes = 서비스를 해지한 고객, No = 유지 중인 고객\n'

In [376]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [377]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [378]:
# churn_rate = df['Churn'].value_counts(normalize=True) * 100
# print(churn_rate)

In [379]:
pd.set_option("display.max_columns", None) 
#Pandas 데이터프레임을 출력할 때 한 화면에 모든 컬럼을 다 보이게 해주는 옵션

In [380]:
df.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [382]:
# dropping customerID column as this is not required for modelling
# df = df.drop(columns=["customerID"])

In [383]:
df.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [384]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [385]:
print(df["gender"].unique())
#데이터프레임 df에서 "gender" 컬럼만 선택.해당 컬럼에 들어있는 고유값(unique values) 을 중복 없이 반환

['Female' 'Male']

In [386]:
print(df["SeniorCitizen"].unique())

[0 1]

In [387]:
print(df.head())
print(df.dtypes)

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity OnlineBackup  \
0  No phone service             DSL             No          Yes
1                No             DSL            Yes           No
2                No             DSL            Yes          Yes
3  No phone service             DSL            Yes           No
4                No     Fiber optic             No           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No          No          No              No  Month-to-month
1              Yes          No          No              No        One year
2               No          No          No              No  Month-to-month
3              Yes         Yes          No              No        One year
4               No          No          No              No  Month-to-month

  PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges  \
0              Yes           Electronic check           29.85        29.85
1               No               Mailed check           56.95       1889.5
2              Yes               Mailed check           53.85       108.15
3               No  Bank transfer (automatic)           42.30      1840.75
4              Yes           Electronic check           70.70       151.65

  Churn
0    No
1    No
2   Yes
3    No
4   Yes
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [388]:
# printing the unique values in all the columns
# 숫자형 변수 빼고 나머지 컬럼들의 고유한 값들(중복빼고)을 출력


numerical_features_list = ["tenure", "MonthlyCharges", "TotalCharges"]


for col in df.columns:
  if col not in numerical_features_list:
    print(col, df[col].unique())
    print("-"*50)

customerID ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
--------------------------------------------------
gender ['Female' 'Male']
--------------------------------------------------
SeniorCitizen [0 1]
--------------------------------------------------
Partner ['Yes' 'No']
--------------------------------------------------
Dependents ['No' 'Yes']
--------------------------------------------------
PhoneService ['No' 'Yes']
--------------------------------------------------
MultipleLines ['No phone service' 'No' 'Yes']
--------------------------------------------------
InternetService ['DSL' 'Fiber optic' 'No']
--------------------------------------------------
OnlineSecurity ['No' 'Yes' 'No internet service']
--------------------------------------------------
OnlineBackup ['Yes' 'No' 'No internet service']
--------------------------------------------------
DeviceProtection ['No' 'Yes' 'No internet service']
--------------------------------------------------
TechSupport ['No' 'Yes' 'No internet service']
--------------------------------------------------
StreamingTV ['No' 'Yes' 'No internet service']
--------------------------------------------------
StreamingMovies ['No' 'Yes' 'No internet service']
--------------------------------------------------
Contract ['Month-to-month' 'One year' 'Two year']
--------------------------------------------------
PaperlessBilling ['Yes' 'No']
--------------------------------------------------
PaymentMethod ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
--------------------------------------------------
Churn ['No' 'Yes']
--------------------------------------------------

In [389]:
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [390]:
df["TotalCharges"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: TotalCharges
Non-Null Count  Dtype
--------------  -----
7043 non-null   object
dtypes: object(1)
memory usage: 55.2+ KB

In [391]:
# df["TotalCharges"] = df["TotalCharges"].astype(float)
# TotalCharges 컬럼이 원래 문자열이라 숫자로 바꾸려고 시도했음 → 실패 (빈칸 때문).
# 빈칸 " " 값들을 찾아내서 "0.0"으로 치환.
# 전체 컬럼을 float으로 변환.

In [392]:
#삭제하기 df[df["TotalCharges"]==" "]#

In [393]:
#삭제하기len(df[df["TotalCharges"]==" "])

In [394]:
#삭제하기df["TotalCharges"] = df["TotalCharges"].replace({" ": "0.0"})

In [395]:
#삭제하기df["TotalCharges"] = df["TotalCharges"].astype(float)

In [396]:
# checking the class distribution of target column
print(df["Churn"].value_counts())

Churn
No     5174
Yes    1869
Name: count, dtype: int64

**Insights:**
1. Customer ID removed as it is not required for modelling
2. No mmissing values in the dataset
3. Missing values in the TotalCharges column were replaced with 0
4. Class imbalance identified in the target

**3. Exploratory Data Analysis (EDA)**

In [397]:
df.shape

(7043, 21)

In [398]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [399]:
df.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [400]:
df.describe()
# 금액과 같은 수치가 있는것만 통계적 요약정보를 줌. 

# 1. SeniorCitizen (시니어 여부, 0=아님, 1=예)
# count: 7043명 고객 데이터
# mean: 0.162 → 약 16.2%가 시니어(1), 나머지 83.8%는 비시니어(0)
# std: 0.368 → 이진변수이므로 분산 작음
# min~max: 0~1 (정상)
# 👉 고객의 대부분은 비시니어.

# 2. tenure (가입 개월 수)
# 범위: 0 ~ 72개월
# 중앙값: 29개월 → 절반 고객은 29개월 이하, 절반은 그 이상
# 평균: 32개월 → 다양한 분포, 신규 고객도 있고 장기 고객도 있음

# 3. MonthlyCharges (월 요금)
# 범위: $18 ~ $119
# 중앙값: $70 → 대부분 고객은 70달러 근처
# 평균: $65 → 저가 요금제 고객도 많고 고가 요금제 고객도 일부 있음

# 4. TotalCharges (총 요금)  --> 계약 월 수  x 월별 비용 
# 범위: $0 ~ $8685
# 중앙값: $1395
# 평균: $2280
# 분산이 매우 큼 (고객이 오래 다녔는지 여부에 따라 크게 차이남)

# count 전체중에 %인지 보면됨.

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [401]:
# 🔎 tenure 해석
# mean = 32.37개월
# → 평균적으로 고객들은 약 32개월(2년 8개월) 동안 서비스를 유지.
# std = 24.56개월
# → 표준편차가 25개월 정도라서, 대략적으로
# 평균 ± 1표준편차 = (약 8개월 ~ 57개월)
# 범위 안에 고객들의 약 68% 가 분포한다고 볼 수 있음.
# 50% (median) = 29개월
# → 가입자의 절반은 29개월 이하, 절반은 29개월 이상 유지.
# 75% = 55개월
# → 전체 고객 중 75%는 55개월 이하로 다녔고, 나머지 25%는 그 이상 다녔음.
# max = 72개월
# → 최장 고객은 6년 동안 유지.

# 📌 예시 (tenure 기준)
# 25% = 9개월
# → 고객 중 25%는 가입 9개월 이하에서 이탈하거나 아직 유지 중
# 50% = 29개월
# → 고객의 절반은 29개월 이하, 절반은 29개월 이상
# 75% = 55개월
# → 고객의 75%는 55개월 이하, 상위 25% 충성 고객은 55개월 이상 유지 

# ✅ 정리
# 읽을 때는 말씀하신 것처럼:
# 25% 값 = “하위 25% 그룹의 상한선”
# 50% 값 = “전체를 절반으로 나누는 기준점”
# 75% 값 = “상위 25% 그룹의 하한선”
# 👉 그래서 “25% 미만의 사람들은…” / “50%는 절반의 고객들은…” / “75%는 상위 25% 고객은…” 이런 식으로 해석하면 맞습니다 ✔️

<!-- ```📌 예시 (tenure 기준)
25% = 9개월
→ 고객 중 25%는 가입 9개월 이하에서 이탈하거나 아직 유지 중
50% = 29개월
→ 고객의 절반은 29개월 이하, 절반은 29개월 이상
75% = 55개월
→ 고객의 75%는 55개월 이하, 상위 25% 충성 고객은 55개월 이상 유지 


✅ 정리
읽을 때는 말씀하신 것처럼:
25% 값 = “하위 25% 그룹의 상한선”
50% 값 = “전체를 절반으로 나누는 기준점”
75% 값 = “상위 25% 그룹의 하한선”
👉 그래서 “25% 미만의 사람들은…” / “50%는 절반의 고객들은…” / “75%는 상위 25% 고객은…” 이런 식으로 해석하면 맞습니다 ✔️ -->

**Numerical Features - Analysis**

Understand the distribution of teh numerical 

데이터셋 안의 숫자형 변수들이 어떻게 분포되어 있는지 이해

In [402]:
# def plot_histogram(df, column_name):

#   plt.figure(figsize=(5, 3))
#   sns.histplot(df[column_name], kde=True)
#   plt.title(f"Distribution of {column_name}")

#   # 선택한 컬럼의 평균과 중앙값 계산
#   col_mean = df[column_name].mean()
#   col_median = df[column_name].median()

#   # add vertical lines for mean and median
#   plt.axvline(col_mean, color="red", linestyle="--", label="Mean")
#   plt.axvline(col_median, color="green", linestyle="-", label="Median")

#   plt.legend()

#   plt.show()

In [403]:
# plot_histogram(df, "tenure") # 가입 개월수 분포

In [404]:
# plot_histogram(df, "MonthlyCharges")

In [405]:
# plot_histogram(df, "TotalCharges")

**Box plot for numerical features**

In [406]:
# def plot_boxplot(df, column_name):

#   plt.figure(figsize=(5, 3))
#   sns.boxplot(y=df[column_name])
#   plt.title(f"Box Plot of {column_name}")
#   plt.ylabel(column_name)
#   plt.show

In [407]:
# plot_boxplot(df, "tenure")

In [408]:
# plot_boxplot(df, "MonthlyCharges")

In [409]:
# plot_boxplot(df, "TotalCharges")

**Correlation Heatmap for numerical columns**

In [410]:
# # correlation matrix - heatmap
# plt.figure(figsize=(8, 4))
# sns.heatmap(df[["tenure", "MonthlyCharges", "TotalCharges"]].corr(), annot=True, cmap="coolwarm", fmt=".2f")
# plt.title("Correlation Heatmap")
# plt.show()

<!-- 📊 해석
tenure ↔ TotalCharges : 0.83 (강한 양의 상관관계)
가입 기간(tenure)이 길수록 총 요금(TotalCharges)도 높다.
당연히 tenure × MonthlyCharges ≈ TotalCharges 구조이기 때문에 높은 상관성이 있음.

MonthlyCharges ↔ TotalCharges : 0.65 (중간 정도 양의 상관관계)
월 요금이 높으면 총 요금도 대체로 높다.
하지만 tenure가 짧으면 총 요금이 낮을 수도 있으므로 완벽한 상관관계는 아님.

tenure ↔ MonthlyCharges : 0.25 (약한 양의 상관관계)
가입 기간과 월 요금은 거의 관련이 없음.
오래된 고객이라고 해서 반드시 요금을 많이 내는 건 아니다. (요금제와 무관) -->

Categorical features - Analysis

In [411]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [412]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

Countplot for categorical columns

In [413]:
# object_cols = df.select_dtypes(include="object").columns.to_list()

# object_cols = ["SeniorCitizen"] + object_cols

# for col in object_cols:
#   plt.figure(figsize=(5, 3))
#   sns.countplot(x=df[col])
#   plt.title(f"Count Plot of {col}")
#   plt.show()

In [414]:
from collections import Counter
from imblearn.over_sampling import SMOTE
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from imblearn.pipeline import Pipeline as ImbPipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score
import pandas as pd
import pickle

# ---------------------------
# 1. Custom Transformer
# ---------------------------
class RiskFeatureGenerator(BaseEstimator, TransformerMixin):
    def __init__(self, stats=None):
        self.stats = stats
    
    def fit(self, X, y=None):
        self.stats = {
            "median_monthly": X["MonthlyCharges"].median(),
            "median_total": X["TotalCharges"].median(),
            "q25_tenure": X["tenure"].quantile(0.25)
        }
        return self
    
    def transform(self, X):
        X = X.copy()
        X['HighValue'] = ((X['MonthlyCharges'] > self.stats["median_monthly"]) |
                          (X['TotalCharges'] > self.stats["median_total"])).astype(int)
        X['Risk_Contract']  = (X['Contract'] == 'Month-to-Month').astype(int)
        X['Risk_Tenure']    = (X['tenure'] < self.stats["q25_tenure"]).astype(int)
        X['Risk_Paperless'] = (X['PaperlessBilling'] == 'Yes').astype(int)
        X['Risk_Fiber']     = (X['InternetService'] == 'Fiber optic').astype(int)
        X['Risk_Echeck']    = (X['PaymentMethod'] == 'Electronic check').astype(int)

        risk_cols = ['Risk_Contract','Risk_Tenure','Risk_Paperless','Risk_Fiber','Risk_Echeck']
        X['RiskScore'] = X[risk_cols].sum(axis=1)
        X['HighRisk']  = (X['RiskScore'] >= 2).astype(int)
        return X

# ---------------------------
# 2. 데이터 준비
# ---------------------------
df = pd.read_csv("customer_info.csv")
df["TotalCharges"] = df["TotalCharges"].replace(" ", "0.0").astype(float)

X = df.drop(columns=["Churn", "customerID"])
y = df["Churn"].map({"No":0, "Yes":1})

# ---------------------------
# 3. 전처리
# ---------------------------
categorical_cols = X.select_dtypes(include="object").columns.tolist()
numeric_cols = X.select_dtypes(include=["int64","float64"]).columns.tolist()

preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols),
        ("num", "passthrough", numeric_cols)
    ]
)

# ---------------------------
# 4. 모델
# ---------------------------
rfc = RandomForestClassifier(
    random_state=42, class_weight="balanced",
    n_estimators=200, max_depth=20, min_samples_split=2, min_samples_leaf=2
)
xgb = XGBClassifier(random_state=42, scale_pos_weight=3, eval_metric="logloss")
lr = LogisticRegression(max_iter=1000, solver="liblinear", class_weight="balanced")

voting_clf = VotingClassifier(
    estimators=[("rf", rfc), ("xgb", xgb), ("lr", lr)], voting="soft"
)

# ---------------------------
# 5. 파이프라인
# ---------------------------
pipeline = ImbPipeline(steps=[
    ("risk", RiskFeatureGenerator()),
    ("preprocess", preprocessor),
    ("smote", SMOTE(random_state=42)),
    ("model", voting_clf)
])

# ---------------------------
# 6. 학습 & 평가
# ---------------------------
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)
y_prob = pipeline.predict_proba(X_test)[:, 1]

print("✅ 최초 모델 학습 완료")
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))
print("ROC-AUC:", roc_auc_score(y_test, y_prob))

# ---------------------------
# 7. 저장 (백업 + 최신버전)
# ---------------------------
with open("customer_churn_pipeline_base.pkl", "wb") as f:
    pickle.dump(pipeline, f)  # 원본 백업 (절대 덮어쓰지 않음)

with open("customer_churn_pipeline.pkl", "wb") as f:
    pickle.dump(pipeline, f)  # 운영 버전 (루프에서 계속 업데이트)

✅ 최초 모델 학습 완료
Accuracy: 0.7679205110007097
Confusion Matrix:
 [[821 214]
 [113 261]]
Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.79      0.83      1035
           1       0.55      0.70      0.61       374

    accuracy                           0.77      1409
   macro avg       0.71      0.75      0.72      1409
weighted avg       0.79      0.77      0.78      1409

ROC-AUC: 0.8396548606267276

In [415]:
# ✅ 정리
# RiskScore 같은 파생변수는 train/test 모두 똑같이 생성됨
# SMOTE는 train에서만 적용
# 전처리 이후 모델에 들어갈 때는 numpy array 로 변환돼 컬럼명이 없어지므로, 확인하려면 risk 단계나 preprocess.get_feature_names_out() 을 써야 함
# ✅ 보이지도 않는 Risk Score는 왜 파생변수로 만들었나?
# RiskScore는 단순히 보려고 만든 게 아니라, 도메인 지식을 반영해서 모델 성능과 해석력을 동시에 높이려는 것.
# Train/Test 둘 다 이 feature를 사용해서 학습/예측에 활용합니다.
# 모델이 스스로 찾아내기 어려운 조합을 사람이 설계해서 준 거라, 실제로 성능이 오를 수도 있습니다.

In [416]:
# # 1. Risk 단계 이후 피처 이름 확보
# X_train_risk = pipeline.named_steps["risk"].transform(X_train)
# pipeline.named_steps["preprocess"].fit(X_train_risk)
# feature_names = pipeline.named_steps["preprocess"].get_feature_names_out()

# # 2. 개별 모델 꺼내기
# rf_model  = pipeline.named_steps["model"].estimators_[0]  # RandomForest
# xgb_model = pipeline.named_steps["model"].estimators_[1]  # XGB
# lr_model  = pipeline.named_steps["model"].estimators_[2]  # LogisticRegression

# # 3. 중요도 뽑기
# import pandas as pd

# rf_importance = pd.Series(rf_model.feature_importances_, index=feature_names)
# xgb_importance = pd.Series(xgb_model.feature_importances_, index=feature_names)
# lr_importance  = pd.Series(abs(lr_model.coef_[0]), index=feature_names)  # 절댓값으로 중요도 해석

# print("랜덤포레스트 중요도 TOP 10:\n", rf_importance.sort_values(ascending=False).head(10))
# print("XGB 중요도 TOP 10:\n", xgb_importance.sort_values(ascending=False).head(10))
# print("로지스틱 중요도 TOP 10:\n", lr_importance.sort_values(ascending=False).head(10))


# ✅ 결론:
# 세 모델 모두 공통적으로 “단기 계약 + 특정 결제방식 + 보안/기술지원 여부”가 이탈의 핵심 요인임을 보여줌.
# RiskScore는 TOP에 안 떴지만, 설명가능성(Explainability)을 강화해주는 feature로 충분히 가치 있음

In [417]:
# ---------------------------
# 데이터 클리닝 (빈 문자열 → 0.0 변환)
# ---------------------------
for col in ["TotalCharges", "MonthlyCharges"]:
    if col in df.columns:
        df[col] = df[col].replace("", "0.0")  # 빈 문자열을 "0.0"으로 치환
        df[col] = df[col].astype(float)       # 숫자로 변환

In [418]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd
import numpy as np
import pickle
import time
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

# ---------------------------
# 1. 구글 시트 인증
# ---------------------------
scope = ["https://spreadsheets.google.com/feeds",
         "https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name(
    r"C:\Users\honor\OneDrive\Desktop\customer-crm-470315-59aca836b26d.json", scope
)
client = gspread.authorize(creds)

SHEET_ID = "1LNBXDzzQzDznTBHTpc8bkFBZ1A36Ux5ll3j9kQNnoGQ"
sheet = client.open_by_key(SHEET_ID).sheet1

MODEL_PATH = "customer_churn_pipeline.pkl"  # 최신 모델 저장 위치

# ---------------------------
# 2. 루프 실행
# ---------------------------
while True:
    df = pd.DataFrame(sheet.get_all_records())
    print("🔄 최신 데이터 불러옴 (행 개수:", len(df), ")")

    # ✅ 공통 전처리 (빈 문자열 처리)
    for col in ["TotalCharges", "MonthlyCharges"]:
        if col in df.columns:
            df[col] = df[col].replace("", "0.0")  # 빈 문자열 → "0.0"
            df[col] = df[col].astype(float)       # 숫자로 변환

    # ---------------------------
    # Case 1: 재학습 모드
    # ---------------------------
    if "ChurnActual" in df.columns and df["ChurnActual"].notna().any():
        print("📌 재학습 모드 실행")

        # NaN 라벨 제거
        train_df = df.dropna(subset=["ChurnActual"])

        X = train_df.drop(columns=["ChurnActual"])
        y = train_df["ChurnActual"].map({"No": 0, "Yes": 1})

        with open(MODEL_PATH, "rb") as f:
            pipeline = pickle.load(f)

        pipeline.fit(X, y)

        with open(MODEL_PATH, "wb") as f:
            pickle.dump(pipeline, f)

        # 📊 성과 리포트
        y_pred = pipeline.predict(X)
        y_prob = pipeline.predict_proba(X)[:, 1]

        print("\n✅ 재학습 성과 리포트")
        print(confusion_matrix(y, y_pred))
        print(classification_report(y, y_pred))
        print("ROC-AUC:", roc_auc_score(y, y_prob))

    # ---------------------------
    # Case 2: 예측 모드
    # ---------------------------
    else:
        print("📌 예측 모드 실행")

        with open(MODEL_PATH, "rb") as f:
            pipeline = pickle.load(f)

        X_input = df.copy()
        y_prob = pipeline.predict_proba(X_input)[:, 1]
        y_pred = (y_prob >= 0.2).astype(int)  # 20% 이상이면 Churn

        # Risk + Value 그룹 계산
        X_risk = pipeline.named_steps["risk"].transform(X_input)
        median_monthly = X_input["MonthlyCharges"].median()
        median_total = X_input["TotalCharges"].median()

        X_risk["ValueGroup"] = np.where(
            (X_risk["MonthlyCharges"] > median_monthly) | (X_risk["TotalCharges"] > median_total),
            "High Value", "Low Value"
        )
        X_risk["RiskGroup"] = np.where(X_risk["HighRisk"] == 1, "High Risk", "Low Risk")
        X_risk["Segment"] = X_risk["ValueGroup"] + " + " + X_risk["RiskGroup"]

        # 결과 붙이기
        df["ChurnProb"] = np.round(y_prob, 3)
        df["ChurnPred"] = np.where(y_pred == 1, "Yes", "No")
        df["Segment"] = X_risk["Segment"]

        # 시트 업데이트
        sheet.update([df.columns.values.tolist()] + df.values.tolist())
        print("✅ 예측 결과 구글 시트 업데이트 완료")

    # ---------------------------
    # 대기 (예: 1시간마다 실행 → 여기서는 테스트로 10초)
    # ---------------------------
    time.sleep(10)

🔄 최신 데이터 불러옴 (행 개수: 50 )
📌 재학습 모드 실행

c:\Users\honor\.pyenv\pyenv-win\versions\3.11.3\Lib\site-packages\sklearn\externals\array_api_compat\numpy\_aliases.py:125: RuntimeWarning: invalid value encountered in cast
  return x.astype(dtype=dtype, copy=copy)

ValueError: Input y contains NaN.